body { 
    padding-top: 10px;
    background-color: rgb(20, 20, 20);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand  {
    font-family: 'Monoton', cursive;
    color: red;
    font-size: 24px;
}

.rowHeader {
    color: #e5e5e5;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 10px;  
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .carousel {
     padding-top: 65px;
 }

 #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }

.thumb{
    transition:all .4s;
    width: 100%;
}
.thumb:hover{
    position: relative;
    z-index: 2;
    margin-left:-50%;
    width:200%;
    height:inherit;
    object-fit: unset;
}

img.thumb{
    object-fit: cover;
    height: 200px;
}

.col-md-2 {
    padding: 0;
}
